body {
  font-family: 'Courier New', monospace;
  font-size: 12px;
  background-color: #296EB4;
  color: white;
}

#wrapper {
  max-width: 600px;
  min-width: 200px;
  margin: 20px auto;
  padding: 0 20px;
  position: relative;
}

#header {
  margin: 20px auto;
}

#stats,
#filters {
  border: 1px solid white;
  padding: 15px;
  margin: 20px 0;
  display: grid;
}

#filters {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
}

#stats {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
  background-color: white;
  color: #296EB4;
}

.button {
  display: inline-block;
  border: 1px solid #1C1D21;
  margin: 10px 0;
  width: 100%;
  padding: 15px;
  color: #1C1D21;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}

#grid {
  margin: 20px auto;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  gap: 1px;
  justify-content: center;
  padding: 15px 5px;
}

.day {
  /*background-color: #E6E6E6;*/
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
}

.day div {
  flex: 1 1 auto;
  width: 100%
}

.sickBoy,
#boyButton {
  background-color: #B1740F;
}

.sickMama,
#mamaButton {
  background-color: #FFD07B;
}

.sickPapa,
#papaButton {
  background-color: #FDB833;
}

.bold {
  font-weight: 900;
}

.tooltiptext {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  background-color: white;
  color: #1C1D21;
  padding: 5px;
  width: 120px;
  border: 1px dotted #1C1D21;
  opacity: 0.7;
  top: 15px;
  left: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip {
  position: relative;
  cursor: help;
}
